<div id="wrapper" class="content">
  <lor-main-nav></lor-main-nav>

  <div class="columns">
    <aside class="column is-2 is-offset-1">
      <lor-user-profile></lor-user-profile>
    </aside>

    <main class="column is-8">
      <lor-notification-message></lor-notification-message>
      <router-outlet></router-outlet>
    </main>
  </div>


  <footer class="footer">
    Created by <a href="https://spivey.io">James Spivey</a> | The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
  </footer>
</div>
